JSON_RPC_ENDPOINT=https://fullnode.mainnet.sui.io:443

LOG_LEVEL=info

### Worker options
# Protocol to use: FLOWX_V3 or CETUS
PROTOCOL=FLOWX_CLMM

# Example pool IDs:
# FlowX V3 example pool:
# TARGET_POOL=0x88cec280ed5406af7951ef768b305de5323b843cc127bcab988d08770d00a5f7
# Cetus example pool (find pools at https://app.cetus.zone/):
TARGET_POOL=0x88cec280ed5406af7951ef768b305de5323b843cc127bcab988d08770d00a5f7

BPRICE_PERCENT=50
TPRICE_PERCENT=10
SLIPPAGE_TOLERANCE=50000                # 5%
PRICE_IMPACT_PERCENT_THRESHOLD=-5000    # -0.5%
MIN_ZAP_AMOUNT_X=10000
MIN_ZAP_AMOUNT_Y=10000
REBALANCE_RETRIES=3
MULTIPLIER=1
REWARD_THRESHOLD_USD=1               # Minimum USD value of rewards to collect
COMPOUND_REWARDS_SCHEDULE_MS=
PRIVATE_KEY=
TRACKING_VOLUME_ADDRESS=
